@import "/UI/Styles/Theme.scss";

BuyMenu
{
    position: absolute;
    top: 64px;
    bottom: 128px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 1900px;
    padding: 64px;
    font-weight: bold;
    background-color: rgba( black, 0.5 );
    border-radius: 20px;
    flex-direction: column;
    gap: 16px;
    opacity: 0;
    pointer-events: none;

    .options
    {
        gap: 8px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &.active
    {
        pointer-events: all;
        opacity: 1;
    }

    .title
    {
        font-size: 25px;
        font-family: $main-font;
        color: #fff;
        text-shadow: 2px 2px 2px rgba( black, 0.5 );
    }

    .button
    {
        font-size: 18px;
        font-family: $main-font;
        color: #fff;
        background-color: rgba( black, 0.5 );
        height: 128px;
        width: 256px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        border: 3px solid;
        border-color: transparent;
        transition: all 0.075s ease;
        justify-content: center;
        align-items: center;

        .info
        {
            position: absolute;
            left: 0px;
            top: 0px;
            height: 100%;
            padding: 8px;
        }

        label
        {
            text-shadow: 2px 1px 0px rgba( black, 0.5 );
        }

        &.unaffordable
        {
            background-color: rgba( red, 0.5 );
        }

        &.owned
        {
            background-color: rgba( $main-color, 0.5 );
            border-color: $main-color;
        }

        &:hover
        {
            &:not(.unaffordable)
            {
                cursor: pointer;
                border-color: $main-color;
            }
        }
    }

    .gunicon {
        position: absolute;
        width: 128px;
        height: 64px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}