@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

@if ( !Player.IsValid() ) return;

<root class="hud with-deadzone @(Player.InBuyMenu ? "active" : "")">
    <div class="title">Buy</div>
    <div class="options">
        @foreach (WeaponData weapon in WeaponData.All)
        {
        <div class="button standard @(@Inventory.HasWeapon(weapon) ? "owned" : "unowned")" onclick=@(() => BuyWeapon(weapon))>
            @if ( !string.IsNullOrEmpty( weapon.Icon ) )
            {
                <div class="gunicon" style="background-image:url(@weapon.Icon);" />
            }
            <div class="info layout column">
                <label>@weapon.Name</label>
                <div class="layout grow"/>
                <label class="price">$@weapon.Price</label>
            </div>
        </div>
        }
    </div>
</root>

@code
{
    public PlayerInventory Inventory => Player.Inventory;
    public PlayerController Player => GameUtils.LocalPlayer;

    private void BuyWeapon( WeaponData weapon )
    {
        Inventory.GiveWeapon( weapon );
    }

    protected override int BuildHash()
    {
        return !Player.IsValid() ? 0 : HashCode.Combine( Inventory.Weapons.Count(), Player.InBuyMenu );
    }
}
