@namespace Facepunch.UI
@inherits Panel

<root class="hud fill">
    <div class="hud bottom-left layout column">
        <div class="container with-gap">
            <span>
                <InputHint Action="DeveloperMenu" />
            </span>

            <label class="text small upper">Developer Menu</label>
        </div>
    </div>

    <div class="hud bottom-middle layout column">
        <div class="container with-small-gap column">
            <label class="text small upper">Movement</label>

            <span>
                <InputHint Action="Forward" />
                <InputHint Action="Left" />
                <InputHint Action="Backward" />
                <InputHint Action="Right" />
            </span>

            <span>
                <InputHint Action="Duck" />
                <InputHint Action="Jump" />
            </span>

        </div>
    </div>
</root>

@code
{
}
