@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

<root>
    <div class="guide"/>

    @if ( IsFriendly )
    {
       <i>close</i>
    }
    else
    {
        <div @ref="Left" class="left element"></div>
        <div @ref="Right" class="right element"></div>
        <div @ref="Top" class="top element"></div>
        <div @ref="Bottom" class="bottom element"></div>

        @if ( GameSettingsSystem.Current.ShowCrosshairDot )
        {
            <div class="dot element" />
        }
    }


    <div @ref="Hitmarker" class="hitmarker @HitmarkerClasses" />
</root>

@code
{
    public Panel Left { get; set; }
    public Panel Right { get; set; }
    public Panel Top { get; set; }
    public Panel Bottom { get; set; }

    public Panel Hitmarker { get; set; }

    PlayerController Player => GameUtils.Viewer;
    Weapon Weapon => Player?.CurrentWeapon;

    private TimeUntil TimeUntilHitmarkerRemove = 0f;
    private float HitMarkerDuration => 0.1f;

    public static Crosshair Instance { get; set; }

    private bool IsFriendly { get; set; } = false;
    private bool IsEnemy { get; set; } = false;

    protected override void OnAfterTreeRender( bool firstTime )
    {
        if ( firstTime )
        {
            Instance = this;
        }
    }

    string HitmarkerClasses => !TimeUntilHitmarkerRemove ? "is-visible" : string.Empty;

    private ShootWeaponComponent Shoot => Weapon?.Components.Get<ShootWeaponComponent>( FindMode.EnabledInSelfAndDescendants );
    private ScopeWeaponComponent Scope => Weapon?.Components.Get<ScopeWeaponComponent>( FindMode.EnabledInSelfAndDescendants );
    private RecoilWeaponComponent Recoil => Weapon?.Components.Get<RecoilWeaponComponent>( FindMode.EnabledInSelfAndDescendants );

    float BaseDistance => 15;
    // 10px base size
    float BaseElementSize => 10;

    public void Trigger( DamageEvent damageEvent )
    {
        if ( damageEvent.Attacker is PlayerController attacker )
        {
            var hc = attacker.HealthComponent;
            var isKill = hc.Health <= 0f;
            TimeUntilHitmarkerRemove = isKill ? 0.5f : 0.2f;
            Hitmarker.SetClass( "is-kill", isKill );
            Hitmarker.SetClass( "is-headshot", damageEvent.Hitboxes.Contains( "head" ) );
        }
    }

    float VelocityScale => MathF.Abs( Player?.Spread ?? 0 ).Clamp( 0, 0.25f );
    float VelocityScaleFactor => 350;

    public float Distance => GetDistance();

    private float LerpedDistance = 15;
    private float SpreadDistance => ((Player?.Spread ?? 0) * 250f);

    float GetDistance()
    {
        var dist = BaseDistance;

        if ( GameSettingsSystem.Current.DynamicCrosshair )
        {
            dist += SpreadDistance;

            // velocity
            dist += VelocityScale * VelocityScaleFactor;

            if ( Recoil.IsValid() )
            {
                dist += Recoil.Current.AsVector3().Length * 175;
            }
        }

        Log.Info(dist);

        return dist;
    }

    Length? GetLength()
    {
        var size = BaseElementSize;

        if (GameSettingsSystem.Current.DynamicCrosshair)
        {
            var dist = GetDistance() - (BaseDistance + SpreadDistance);
            size += dist * 0.2f;
        }

        return Length.Pixels( size );
    }

    void UpdateDistance()
    {
        if (!Left.IsValid()) return;

        LerpedDistance = LerpedDistance.LerpTo( Distance, Time.Delta * 7.5f );

        var length = GetLength();
        var distance = LerpedDistance;

        Left.Style.Left = -distance;
        Left.Style.Width = length;

        Right.Style.Left = distance;
        Right.Style.Width = length;

        Top.Style.Top = -distance;
        Top.Style.Height = length;

        Bottom.Style.Top = distance;
        Bottom.Style.Height = length;
    }

    public override void Tick()
    {
        var player = Player;

        bool visible = player.IsValid() && player.HealthComponent.State == LifeState.Alive;

        if ( Weapon.IsValid() && Weapon.Tags.Has( "aiming" ) )
            visible = false;

        SetClass( "visible", visible );

        if ( !player.IsValid() ) return;

        UpdateDistance();

        var camera = player.CameraController.Camera;
        var range = 100000f;
        var muzzle = Weapon?.ViewModel?.ModelRenderer.GetAttachment( "muzzle" );
        var origin = muzzle.HasValue ? muzzle.Value.Position : camera.Transform.Position;

        var currentTrace = player.Scene.Trace.Ray( origin, camera.Transform.Rotation.Forward * range )
            .IgnoreGameObjectHierarchy( player.GameObject )
            .WithoutTags( "invis", "ragdoll", "movement" )
            .UseHitboxes()
            .Run();

        if ( currentTrace.Hit )
        {
            var targetPlayer = currentTrace.GameObject.Root.Components.Get<PlayerController>();
            if (targetPlayer.IsValid())
            {
                var friendly = targetPlayer.IsFriendly(GameUtils.Viewer);
                IsFriendly = friendly;
                IsEnemy = !friendly;
            }
            else
            {
                IsEnemy = false;
                IsFriendly = false;
            }

            SetClass( "enemy", IsEnemy );
            SetClass( "friendly", IsFriendly );
        }
        else
        {
            SetClass( "enemy", false );
            SetClass( "friendly", false );

        }
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(Time.Now);
    }
}
