@import "/UI/Styles/Theme.scss";

Crosshair
{
    position: absolute;
    justify-content: center;
    align-items: center;

    .reticle
    {
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: white;
        border-radius: 100px;
        transition: background-color 0.2s ease, opacity 0.2s ease;

        &.enemy
        {
            width: 5px;
            height: 5px;
            background-color: rgb( 219, 83, 83 );
        }
    }

    .hitmarker
    {
        position: absolute;
        background-image: url( ui/hit/hit_marker.png );
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0;

        &.is-visible
        {
            opacity: 1;
        }

        &.is-kill
        {
            background-image: url( ui/hit/kill_marker_headshot.png );
        }

        &.is-headshot
        {
            background-image: url( ui/hit/kill_marker.png );
        }
    }
}