@import "/UI/Styles/Theme.scss";

KillFeed
{
    position: absolute;
    top: $safe-zone-y;
    right: $safe-zone-x;
    flex-direction: column;
    gap: 0px;
    align-items: flex-end;

    .entry
    {
        padding: 4px 16px;
        gap: 8px;
        justify-content: flex-start;
        align-items: center;
        border-radius: $rounding;

        .method
        {
            gap: 8px;
            align-items: center;
        }

        .icon
        {
            height: 24px;
            width: 60px;
            justify-content: center;
            align-items: center;

            Icon
            {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                transform: rotateZ(180deg) rotateX(180deg);
            }
        }

        .attacker, .victim
        {
            gap: 4px;

            &.is-me
            {
                background-color: rgba( white, 1 );
                color: black;
                padding: 2px 10px;
                border-radius: 2px;
            }
        }
    }
}
