@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

<root>
    @foreach ( var entry in Entries )
    {
        <div class="entry @(entry.IsLocal ? "local" : "")">
            @if ( entry.Killer.IsValid() )
            {
                <PlayerPanel Player=@GameUtils.GetPlayerFromComponent( entry.Killer ) />
            }

            <div class="method">
                @if ( GameUtils.GetWeaponFromComponent( entry.Inflictor ) is {} weapon )
                {
                    <div class="icon" style="background-image: url( @weapon.Resource.Icon );" />

                    @if ( entry.IsHeadshot )
                    {
                        <Icon class="headshot" File="/ui/headshot.png" size="32" />
                    }
                }
                else if ( entry.Inflictor is TimedExplosive bomb )
                {
                    <Icon File="/ui/bomb.png" size="32"></Icon>
                }
                else
                {
                    <label>killed</label>
                }
            </div>

            @if ( entry.Victim.IsValid() )
            {
                <PlayerPanel Player=@GameUtils.GetPlayerFromComponent( entry.Victim ) />
            }
        </div>
    }
</root>

@code
{
    public record Entry( Component Killer, Component Victim, Component Inflictor, bool IsHeadshot, RealTimeSince TimeSinceAdded )
    {
        public bool IsLocal => 
            (GameUtils.GetPlayerFromComponent(Killer)?.IsLocallyControlled ?? false) || 
            (GameUtils.GetPlayerFromComponent(Victim)?.IsLocallyControlled ?? false);
    }

    private List<Entry> Entries { get; set; } = new();

    private float Lifetime => 10f;

    public void OnPlayerKilled( Component killer, Component victim, Component inflictor, bool isHeadshot )
    {
        var entry = new Entry( killer, victim, inflictor, isHeadshot, 0 );
        Entries.Add( entry );
        StateHasChanged();
    }

    public override void Tick()
    {
        // Limit entries so we don't get too busy
        Entries = Entries.TakeLast( 5 ).ToList();

        // Did we remove something?
        if ( Entries.RemoveAll( x => x.TimeSinceAdded > Lifetime ) > 0 )
        {
            StateHasChanged();
        }
    }
}