@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

<root class="hud with-deadzone top-left">
    @foreach ( var entry in Entries )
    {
        <div class="entry">
            <PlayerPanel Player=@GameUtils.GetPlayerFromComponent( entry.Killer ) />

            <div class="method">
                @if ( GetWeapon( entry.Inflictor ) is Weapon weapon )
                {
                    <div class="icon" style="background-image: url( @weapon.Resource.Icon );" />
                }
                else
                {
                    <label>killed</label>
                }
            </div>
            <PlayerPanel Player=@GameUtils.GetPlayerFromComponent( entry.Victim ) />
        </div>
    }
</root>

@code
{
    public record Entry( Component Killer, Component Victim, Component Inflictor, RealTimeSince TimeSinceAdded );

    private List<Entry> Entries { get; set; } = new();

    private float Lifetime => 10f;

    private Weapon GetWeapon( Component inflictor )
    {
        if ( inflictor is Weapon weapon )
        {
            return weapon;
        }

        return null;
    }

    public void OnPlayerKilled( Component killer, Component victim, Component inflictor )
    {
        var entry = new Entry( killer, victim, inflictor, 0 );
        Entries.Add( entry );
        StateHasChanged();
    }

    public override void Tick()
    {
        // Limit entries so we don't get too busy
        Entries = Entries.TakeLast( 5 ).ToList();

        // Did we remove something?
        if ( Entries.RemoveAll( x => x.TimeSinceAdded > Lifetime ) > 0 )
        {
            StateHasChanged();
        }
    }
}