KillFeed
{
    position: absolute;
    top: 30%;
    left: 64px;
    flex-direction: column;

    .entry
    {
        gap: 16px;
        justify-content: flex-start;
        align-items: center;

        .method
        {
            align-items: center;

            Icon {
                background-tint: red;
            }
        }

        .icon
        {
            width: 96px;
            height: 64px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transform: rotateZ(180deg) rotateX(180deg);
        }
    }
}
