@import "/UI/Styles/Theme.scss";

KillFeed
{
    position: absolute;
    top: $safe-zone-y;
    right: $safe-zone-x;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;

    .entry
    {
        padding: 0px 16px;
        gap: 8px;
        justify-content: flex-start;
        align-items: center;
        border-radius: $rounding;

        &.local
        {
            border: 1px solid $red;
            background-color: rgba( $red, 0.1 );
        }

        .method
        {
            align-items: center;

            .headshot
            {
                background-tint: red;
            }
        }

        .icon
        {
            height: 24px;
            justify-content: center;
            align-items: center;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transform: rotateZ(180deg) rotateX(180deg);
        }
    }
}
