@namespace Facepunch.UI
@inherits PanelComponent

<root>
    <BuyMenu />
    <Crosshair />
    <WeaponInfoComponent />

    <div class="hud with-deadzone bottom-middle">
        <Vitals />
    </div>

    <MarkerSystem />
    <RoundStateDisplay />
</root>