@namespace Facepunch.UI
@inherits PanelComponent

<root>
    <BuyMenu />
    <Crosshair />
    <WeaponInfoComponent />

    <!-- TODO: clean up -->
    <div class="hud with-gradient with-deadzone bottom-middle flex space-between align-center" style="width: 960px; height: 72px;">
        <Vitals Player=@Player />
        <PlayerRole Player=@Player />
        <Ammo Inventory=@Inventory />
    </div>

    <MarkerSystem />
    <RoundStateDisplay />
</root>