@namespace Facepunch.UI
@inherits PanelComponent

@implements IKillListener

<root>
    <canvas>
        <Crosshair />

        <div class="hud with-deadzone top-left flex column">
            <Minimap />
            <MapCallouts />
            <Balance />
        </div>

        <Toast />
        <EquipmentOverlay />
        <PlayerInfo />
        <Spectating />

        <RoundStateDisplay />
        <DefuseKitDisplay />
        <DamageIndicator />
        <KillFeed @ref="KillFeed" />

        <div class="right">
            <div class="flex-grow" />
            <Voices />
            <WeaponInfoComponent />
        </div>

        <Radio />
    </canvas>
    
    <!-- Full-screen overlays -->
    <BuyMenu />
    <MarkerSystem />
    <Scoreboard />
</root>

@code 
{
    public KillFeed KillFeed { get; set; }


    public void OnPlayerKilled( Component killer, Component victim, float damage, Vector3 position, Vector3 force, Component inflictor = null, string hitbox = "" )
    {
        KillFeed.OnPlayerKilled( killer, victim, inflictor, hitbox );
    }
}