@namespace Facepunch.UI
@inherits PanelComponent

<root>
    <BuyMenu Player=@Player Inventory=@Inventory />
    <Crosshair Player=@Player />
    <WeaponInfoComponent Inventory=@Inventory />

    <div class="hud with-deadzone bottom-middle">
        <Vitals Player=@Player />
    </div>

    <MarkerSystem />
    <RoundStateDisplay />
</root>

@code
{
    [Property] public PlayerController Player { get; set; }
    [Property] public PlayerInventory Inventory { get; set; }
}
