@import "/UI/Styles/Theme.scss";

MainHUD
{
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: $text-color;
    transition: all 0.5s 0.5s ease-in-out;
    background-color: rgba( black, 0 );

    Canvas
    {
        opacity: 1;
        transition: all 1s 0.5s ease-in-out;
    }

    &:intro
    {
        background-color: black;

        Canvas
        {
            opacity: 0;
        }
    }
}

.crosshair
{
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: white;
}