@import "/UI/Styles/Theme.scss";

MainHUD
{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: $hud-deadzone-x $hud-deadzone-y;
    justify-content: center;
    align-items: center;
}

.crosshair {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: white;
}