@import "/UI/Styles/Theme.scss";

MainHUD {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba( black, 0.0 ) 75%, rgba( black, 0.75 ) );
}

canvas {
    width: 100%;
    height: 100%;
    max-width: 1920px;

    max-height: 1080px;

    justify-content: center;
    align-items: center;
}

.crosshair {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: white;
}