ScoringEntry
{
    gap: 16px;
    align-items: center;
    transition: all 0.2s ease;
    opacity: 1;

    &:intro
    {
        opacity: 0;
        transform: translateX(200px);
    }

    &:outro
    {
        opacity: 0;
        transform: translateX(-200px);
    }
}
