Toast {
    pointer-events: none;
    .background {
        position: absolute;
        opacity: 0.1;
    }

    text-transform: uppercase;

    &.terroristswin, &.counterterroristswin {
        width: 50%;
        padding: 32px;
    }

    overflow: hidden;
    z-index: 25;
}
