@using Sandbox;
@using Sandbox.UI;

@implements INavigatorPage
@namespace Facepunch.UI

<root class="hc1">
    <Page>
        <Body>
            <div class="inset column layout with-background" style="width: 15%;">
                <div class="line" />
                <div class="layout padding-extra with-gap column">
                    <a class="button standard" href="/new"><i>play_circle_outline</i> Create Game</a>
                    <a class="button standard" href="/lobbies"><i>dns</i> Server List</a>
                </div>

                <div class="line" />
            </div>
        </Body>
    </Page>
</root>

@code
{
    void Quit()
    {
        Game.Close();
    }
}
