@using Sandbox;
@using Sandbox.UI;

@implements INavigatorPage
@namespace Facepunch.UI

<root class="hc1">
    <div class="layout padding-insane column">
        <div class="logo">
            <img src="/ui/teams/operators_logo_banner.png" />
        </div>
    </div>

    <div class="layout flex-grow" />

    <div class="layout padding-insane column" style="width: 30%;">
        <div class="layout column gap">
            <a class="button standard" href="/new">new game</a>
            <a class="button standard" href="/lobbies">Server Browser</a>
            <a class="button standard" href="/settings">Settings</a>
            <a class="button standard" onclick=@Quit>quit</a>
        </div>
    </div>
</root>

@code
{
    void Quit()
    {
        Game.Close();
    }
}
