@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network;

@implements INavigatorPage
@namespace Facepunch.UI

<root class="hc1">
    <div class="layout padding-insane column">
        <div class="logo">
            <img src="/ui/teams/operators_logo_banner.png" />
        </div>
    </div>

    <div class="layout flex-grow" />
    
    <div class="layout padding-insane column gap" style="width: 30%;">
        <a class="text ">lobby information</a>
        <a class="button standard">Name: @Lobby.Name</a>
        <a class="button standard">Players: @(Lobby.Members)/@Lobby.MaxMembers</a>
    </div>

    <div class="layout flex-grow" />


    <div class="layout padding-insane column" style="width: 30%;">
        <div class="layout column gap">
            <div class="button standard" onclick=@(() => Join())>join lobby</div>
            <a class="button standard" href="/lobbies">return</a>
        </div>
    </div>
</root>

@code
{
    public static Lobby Lobby { get; set; }

    private async void Join()
    {
        if ( await GameNetworkSystem.TryConnectSteamId( Lobby.LobbyId ) )
		{
			Log.Info( "joined lobby!" );
		}
    }
}
