# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]
indent_style = tab
indent_size = tab
tab_size = 4

# New line preferences
end_of_line = crlf
insert_final_newline = true
