@import "/UI/Styles/Theme.scss";

RespawnScreen
{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;

    .default-respawner
    {
        position: absolute;
        width: 100%;
        height: 80%;
        bottom: 0;
        align-items: center;
        justify-content: center;

        .label 
        {
            font-size: 20px;
        }
    }
}