@import "/UI/Styles/Theme.scss";

ServerEntry
{
    gap: 64px;
    padding: 16px 16px;
    border: 0.8px solid rgba( black, 0.35 );
    transition: all 0.1s ease;
    cursor: pointer;
    flex-shrink: 0;

    &:nth-child( odd )
    {
        background-color: rgba( black, 0.25 );
    }

    &:nth-child( even )
    {
        background-color: rgba( black, 0.5 );
    }

    .grow
    {
        flex-grow: 1;
    }

    &:hover, &.selected
    {
        background-color: rgba( white, 1 );
        sound-in: ui_hover;

        label
        {
            color: black;
            text-shadow: 1px 1px 2px rgba( black, 0 );
        }
    }
}
