@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

<root class="@(!CapturePoints.Any() ? "hidden" : "")">
    @if ( !CapturePoints.Any() )
        return;

    @foreach (var point in CapturePoints.OrderBy(x => x.ShortName))
    {
        <div class="point @PointClasses( point )" style="@PointStyle( point )">
            <label>@point.ShortName</label>
        </div>
    }
</root>

@code {
    public IEnumerable<CapturePoint> CapturePoints => Scene.GetAllComponents<CapturePoint>();

    public string PointClasses( CapturePoint point )
    {
        var str = "";

        if ( point.CurrentState == CapturePoint.CaptureState.Contested ) str += "contested ";
        if ( point.CurrentState == CapturePoint.CaptureState.Capturing ) str += "capturing ";

        return str;
    }
    public string PointStyle( CapturePoint point )
    {
        var str = $"background-color: {point.Team.GetColor().WithAlpha( 0.2f ).Hex}";
        return str;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( Time.Now );
    }
}