@import "/UI/Styles/Theme.scss";

ConquestStatus
{
    margin-top: 2px;
    backdrop-filter: $blur;
    width: 256px;
    height: 32px;
    gap: 2px;

    display: flex;

    &.hidden {
        display: none;
    }

    .point
    {
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        background-color: rgba( white, 0.1 );

        &.capturing
        {
            animation-name: flash;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }

        &.contested
        {
            animation-name: flash;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }
}

@keyframes flash
{
    0%
    {
        opacity: 1;
    }

    50%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}
