{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "ragdoll": "Collide",
    "weapon": "Trigger",
    "player": "Collide",
    "no_player": "Collide",
    "pickup": "Collide",
    "grenade": "Collide",
    "playerclip": "Ignore",
    "sound": "Collide"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "ladder",
      "b": "water",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "ragdoll",
      "r": "Collide"
    },
    {
      "a": "solid",
      "b": "weapon",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "player",
      "r": "Ignore"
    },
    {
      "a": "ragdoll",
      "b": "player",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "no_player",
      "r": "Trigger"
    },
    {
      "a": "player",
      "b": "pickup",
      "r": "Trigger"
    },
    {
      "a": "grenade",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "playerclip",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "sound",
      "r": "Ignore"
    },
    {
      "a": "sound",
      "b": "solid",
      "r": "Collide"
    }
  ],
  "__guid": "91d3cd38-31ed-4507-a317-6c1deb2af8a5",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}