{
  "Actions": [
    {
      "Name": "Forward",
      "KeyboardCode": "W",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Backward",
      "KeyboardCode": "S",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Left",
      "KeyboardCode": "A",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Right",
      "KeyboardCode": "D",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Jump",
      "KeyboardCode": "space",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Run",
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton",
      "GroupName": "Movement"
    },
    {
      "Name": "Walk",
      "KeyboardCode": "alt",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Duck",
      "KeyboardCode": "Ctrl",
      "GamepadCode": "B",
      "GroupName": "Movement"
    },
    {
      "Name": "attack1",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger",
      "GroupName": "Weapon Handling"
    },
    {
      "Name": "attack2",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Weapon Handling"
    },
    {
      "Name": "reload",
      "KeyboardCode": "r",
      "GamepadCode": "X",
      "GroupName": "Weapon Handling"
    },
    {
      "Name": "Voice",
      "KeyboardCode": "v",
      "GamepadCode": "RightJoystickButton",
      "GroupName": "Other"
    },
    {
      "Name": "Drop",
      "KeyboardCode": "g",
      "GamepadCode": "DpadSouth",
      "GroupName": "Other"
    },
    {
      "Name": "Score",
      "KeyboardCode": "tab",
      "GamepadCode": "SwitchLeftMenu",
      "GroupName": "Other"
    },
    {
      "Name": "Chat",
      "KeyboardCode": "enter",
      "GamepadCode": "None",
      "GroupName": "Other"
    },
    {
      "Name": "Radio",
      "KeyboardCode": "C",
      "GamepadCode": "DpadNorth",
      "GroupName": "Other"
    },
    {
      "Name": "Noclip",
      "KeyboardCode": "MOUSE4",
      "GamepadCode": "None",
      "GroupName": "Development"
    },
    {
      "Name": "SpectatorNext",
      "KeyboardCode": "MOUSE1",
      "GamepadCode": "DpadWest",
      "GroupName": "Spectator"
    },
    {
      "Name": "SpectatorPrev",
      "KeyboardCode": "MOUSE2",
      "GamepadCode": "DpadEast",
      "GroupName": "Spectator"
    },
    {
      "Name": "Slot1",
      "KeyboardCode": "1",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot2",
      "KeyboardCode": "2",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "DeveloperMenu",
      "KeyboardCode": "\\",
      "GamepadCode": "None",
      "GroupName": "Development"
    },
    {
      "Name": "Slot3",
      "KeyboardCode": "3",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "BuyMenu",
      "KeyboardCode": "B",
      "GamepadCode": "DpadEast",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot4",
      "KeyboardCode": "4",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "Slot5",
      "KeyboardCode": "5",
      "GamepadCode": "None",
      "GroupName": "Inventory"
    },
    {
      "Name": "Use",
      "KeyboardCode": "E",
      "GamepadCode": "Y",
      "GroupName": "Other"
    },
    {
      "Name": "SpectatorFreeCam",
      "KeyboardCode": "SPACE",
      "GamepadCode": "Y",
      "GroupName": "Spectator"
    },
    {
      "Name": "SpectatorMode",
      "KeyboardCode": "X",
      "GamepadCode": "X",
      "GroupName": "Spectator"
    },
    {
      "Name": "PrevSlot",
      "KeyboardCode": "Q",
      "GamepadCode": "SwitchLeftBumper",
      "GroupName": "Inventory"
    },
    {
      "Name": "Ping",
      "KeyboardCode": "MOUSE3",
      "GamepadCode": "None",
      "GroupName": "Team"
    },
    {
      "Name": "FireMode",
      "KeyboardCode": "F",
      "GamepadCode": "None",
      "GroupName": "Other"
    }
  ],
  "__guid": "bcccc875-ac58-4719-a08e-4d5b3875734a",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}