{"Version":2,"Mixers":{"Guid":"796aeee9-ecb0-460f-afe2-25de4278780e","Name":"Master","Volume":1,"Mute":false,"Solo":false,"Processors":[],"Children":[{"Guid":"5b8c1572-1171-4969-ad69-0517a5c7aa1a","Name":"Music","Volume":1,"Mute":false,"Solo":false,"Processors":[],"Children":[]},{"Guid":"f83e30e8-821b-4bd7-93e4-7bf0fa3e59f7","Name":"Game","Volume":1,"Mute":false,"Solo":false,"IsDefault":true,"Processors":[],"Children":[]},{"Guid":"a0a4a16b-c992-48a4-859d-37854d43116f","Name":"UI","Volume":1,"Mute":false,"Solo":false,"Processors":[],"Children":[]},{"Guid":"c5da0460-ec8a-4f31-a877-c64a0bf43e5c","Name":"Radio","Volume":1,"Mute":false,"Solo":false,"Processors":[],"Children":[]},{"Guid":"5b58b624-8ae5-4197-88ca-7ba85c1872d7","Name":"Voice","Volume":1,"Mute":false,"Solo":false,"Processors":[],"Children":[]}]},"__guid":"132e28bb-e769-46e2-ab73-2d59cac38f0d","__schema":"configdata","__type":"MixerSettings","__version":2}