@using Sandbox;
@using Sandbox.UI;

@implements INavigatorPage
@namespace Facepunch.UI

<root class="hc1">
    <Page>
        <Header>
            <div class="row gap align-center layout grow">
                <label>Settings</label>
            </div>
        </Header>

        <SubHeader>
            @foreach (var grouping in TypeLibrary.GetPropertyDescriptions(GameSettingsSystem.Current).GroupBy(x => x.Group))
            {
                <div class="button standard smaller no-anim extra-x-padding @(SelectedGroup == grouping.Key ? "selected" : "")" onclick=@(() => SetGroup( grouping.Key ) )>@grouping.Key</div>
            }
        </SubHeader>

        <Body>
            <div class="layout column">
                <div class="layout padding-insane-x with-scroll column">
                    <div class="line" />

                    <div class="column with-bg layout padding-extra with-gap">
                        @if ( !string.IsNullOrEmpty( SelectedGroup ) )
                        {
                            @foreach ( var property in TypeLibrary.GetPropertyDescriptions( GameSettingsSystem.Current ).Where( x => x.Group == SelectedGroup ) )
                            {
                                <SettingEntry Target=@GameSettingsSystem.Current Description=@property />
                            }
                        }
                    </div>

                    <div class="line" />
                </div>
            </div>
        </Body>

        <SubFooter>
            <div class="button standard" onclick=@(() => Game.Overlay.ShowBinds())>
                EDIT INPUT BINDINGS
            </div>
            <button class="button standard" onclick=@(()=>Save())>Save</button>
        </SubFooter>
    </Page>
</root>

@code
{
    private string SelectedGroup { get; set; } = null;

    protected override void OnAfterTreeRender( bool firstTime )
    {
        if ( firstTime )
        {
            // Get the first group
            var first = TypeLibrary.GetPropertyDescriptions( GameSettingsSystem.Current ).FirstOrDefault();
            SetGroup( first.Group );
        }
    }

    private void SetGroup( string group )
    {
        SelectedGroup = group;
        StateHasChanged();
    }

    void Save()
    {
        GameSettingsSystem.Save();
    }
}
