@inherits Panel
@namespace Facepunch.UI

<root class="button standard">
    <label>@Lobby.Name</label>
    <div class="layout flex-grow" />
    <label>@(Lobby.Members)/@(Lobby.MaxMembers)</label>
</root>

@code
{
    public Lobby Lobby { get; set; }
}