@namespace Facepunch.UI
@attribute [StyleSheet]

<root class="@(Selected ? "selected" : "")">
    <label class="emphasis">@GameMode.Title</label>
    <label class="tiny">@GameMode.Description</label>
</root>

@code
{
    public GameMode GameMode { get; set; }
    public Action<GameMode> OnSelected { get; set; }
    public bool Selected { get; set; }

    protected override void OnClick( MousePanelEvent e )
    {
        OnSelected?.Invoke( GameMode );
    }
}