@import "/UI/Styles/Theme.scss";

GameModeCard
{
    width: 256px;
    height: 128px;
    gap: 16px;
    padding: 16px;
    flex-direction: column;
    background-color: rgba( black, 0.5 );
    backdrop-filter: $blur;
    border-radius: 2px;
    border: 0.8px solid rgba( black, 0.35 );
    cursor: pointer;

    &:hover, &.selected
    {
        background-color: rgba( white, 1 );
        sound-in: ui_hover;

        label, i
        {
            color: black;
            text-shadow: 1px 1px 2px rgba( black, 0 );
        }
    }

    &:active
    {
        sound-in: ui.button.press;
    }
}