@import "/UI/Styles/Theme.scss";

GameModeCard
{
    width: 386px;
    height: 128px;
    gap: 16px;
    padding: 16px;
    flex-direction: column;
    background-color: rgba( black, 0.5 );
    backdrop-filter: $blur;
}