@namespace Facepunch.UI
@attribute [StyleSheet]

<root class="@(Selected ? "selected" : "")">
    <div class="background" style="background-image: url( @Map.Background )">
        <div class="grow" />
    </div>

    <div class="header">
        <label class="emphasis">@Map.Title</label>
    </div>
</root>

@code
{
    public MapDefinition Map { get; set; }
    public Action<MapDefinition> OnSelected { get; set; }
    public bool Selected { get; set; }

    protected override void OnClick( MousePanelEvent e )
    {
        OnSelected?.Invoke( Map );
    }
}