@import "/UI/Styles/Theme.scss";

Minimap {
    position: absolute;
    left: $safe-zone-x;
    top: $safe-zone-y;
    width: 256px;
    height: 256px;
    border-radius: $rounding;

    .minimap {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
    }

    .overlay {
        position: absolute;
        mix-blend-mode: lighten;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-image-tint: rgba( 0, 255, 0, 0.5 );
    }

    .markers {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .marker {
        position: absolute;
        width: 18px;
        height: 18px;
        background-image: url('ui/minimaps/player_icon.png');
        z-index: 99;
        transform: translateX(-50%) translateY(-50%);
        background-size: contain;
        background-position: center;

        &.c4 {
            width: 24px;
            height: 24px;
            background-image: url('ui/items/c4.png');
        }

        &.dead {
            background-image: url('ui/minimaps/icon-map_skull.png');
            width: 32px;
            height: 32px;
        }

        &.viewer {
            background-image-tint: rgba( 0, 255, 255, 1 );
            width: 22px;
            height: 22px;
            z-index: 200;
        }

        &.buyzone {
            width: 24px;
            height: 24px;
            z-index: 15;
        }
    }

    .volume {
        position: absolute;
        background-color: white;
        z-index: 5;

        &.bombzone {
            background-color: rgb(255, 106, 0,0.25);
        }
    }

    .label {
        position: absolute;
        z-index: 10;
        transform: translateX(-50%) translateY(-50%);
    }
}