@import "/UI/Styles/Theme.scss";

Minimap {
    position: absolute;
    left: 32px;
    top: 32px;
    width: 256px;
    height: 256px;
    border-radius: $rounding;

    .minimap {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
    }

    .overlay {
        position: absolute;
        mix-blend-mode: lighten;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-image-tint: rgba( 0, 255, 0, 0.5 );
    }

    .markers {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 99;

        .marker {
            position: absolute;
            width: 18px;
            height: 18px;
            background-image: url('ui/minimaps/player_icon.png');
            z-index: 99;
            transform: translateX(-50%) translateY(-50%);
            background-size: contain;
            background-position: center;
        }

        .dead {
            background-image: url('ui/minimaps/icon-map_skull.png');
            width: 32px;
            height: 32px;
        }

        .viewer {
            background-image-tint: rgba( 0, 255, 255, 1 );
            width: 22px;
            height: 22px;
            z-index: 200;
        }

        .bombsite {
            position: absolute;
            width: 24px;
            height: 24px;
            background-size: contain;
            background-position: center;
            transform: translateX(-50%) translateY(-50%);
            z-index: 20;
            justify-content: center;
            align-content: center;
            align-items: center;

            .bombzone {
                position: absolute;
                background-color: rgb(255, 106, 0,0.25);
                background-size: contain;
                background-position: center;
                z-index: 15;
            }
        }

        .buysite {
            position: absolute;
            width: 24px;
            height: 24px;
            background-size: contain;
            background-position: center;
            transform: translateX(-50%) translateY(-50%);
            z-index: 20;
            justify-content: center;
            align-content: center;
            align-items: center;

            .buyzone {
                position: absolute;
                background-color: rgb(255, 255, 255, 0.10);
                background-size: contain;
                background-position: center;
                z-index: 15;
            }
        }
    }
}
