@using Sandbox.Menu
@using Sandbox.UI;

@inherits Sandbox.UI.NavHostPanel
@attribute [StyleSheet]
@namespace Facepunch.UI

<root>
    <div class="background" />

    <div class="navigator-canvas" slot="navigator-canvas" />
	
	<div class="footer">
    	<div style="flex-grow: 1;"/>
    	<div class="logo" />
    </div>
</root>

@code
{
	public PauseMenuRoot()
    {
        DefaultUrl = "/";
	    AddDestination( "/", typeof( PausePage ) );
    }
}
