@using Sandbox;
@using Sandbox.UI;

@implements INavigatorPage
@namespace Facepunch.UI

<root class="hc1">
    <Page>
        <Body>
            <div class="inset column layout with-background" style="width: 15%;">
                <div class="line" />
                <div class="layout padding-extra with-gap column">
                    <button class="button standard" onclick=@(()=>Disconnect())><i>play_circle_outline</i>Disconnect</button>
                </div>

                <div class="line" />
            </div>
        </Body>
    </Page>
</root>

@code
{
    void Disconnect()
    {
        var sc = ResourceLibrary.Get<SceneFile>( "scenes/menu.scene" );
        Game.ActiveScene.Load( sc );
    }
}
