DamageOverlay
{
    position: absolute;
    width: 100%;
    height: 100%;

    .overlay
    {
        position: absolute;
        background: radial-gradient( rgba( red, 0 ), rgba( red, 0.50 ), rgba( red, 0.75 ), red );
        filter: brightness( 0.5 );
        width: 100%;
        height: 100%;
    }
}
