FlashbangOverlay
{
    position: absolute;
    width: 100%;
    height: 100%;

    .overlay
    {
        position: absolute;
        background-color: rgb( 255, 255, 255, 1 );
        width: 100%;
        height: 100%;
    }
}
