@namespace Facepunch.UI
@inherits Panel

@if (!Pawn.IsValid()) return;

<root>
    <label class="name" style="color:@TeamColor">
        @Pawn.DisplayName
    </label>
</root>

@code
{
    public IPawn Pawn { get; set; }

    private string TeamColor => ( Pawn?.Team.GetColor() ?? Color.White ).Hex;
}