@namespace Facepunch.UI
@inherits Panel

@if (!PlayerState.IsValid()) return;

<root>
    <label class="name" style="color:@TeamColor">
        @PlayerState.DisplayName
    </label>
</root>

@code
{
    public PlayerState PlayerState { get; set; }

    private string TeamColor => (PlayerState?.Team.GetColor() ?? Color.White).Hex;
}