@namespace Facepunch.UI
@inherits Panel

@if (!Player.IsValid()) return;

<root>
    <label class="name" style="color:@TeamColor">
        @Player.GetPlayerName()
    </label>
</root>

@code
{
    public PlayerController Player { get; set; }

    private string TeamColor => ( Player?.GameObject?.GetTeam() ?? Team.Unassigned ).GetColor().Hex;
}