@using Facepunch.UI
@using Sandbox
@using Sandbox.UI

@namespace Facepunch.Gunsmith
@inherits Panel

<root class="hc1">
    <div class="layout grow center" style="justify-content: center; align-items: center;">
        @if ( AttachmentPoint.CurrentPart is not null )
        {
            <label class="white tiny">@AttachmentPoint.CurrentPart.Name</label>
        }
        else
        {
            <label class="white tiny">@Category</label>
        }
    </div>
</root>

@code
{
    public GunsmithAttachmentPoint AttachmentPoint { get; set; }
    public GunsmithWeapon Weapon { get; set; }
    public GunsmithPartType Category { get; set; }

    public override void Tick()
    {
        var screenPos = Scene.Camera.PointToScreenNormal( AttachmentPoint.Transform.Position );

        // Hacky hack hack, but temporary.
        if ( Category == GunsmithPartType.Optic )
            screenPos = screenPos.WithX( screenPos.x - 0.05f ).WithY( screenPos.y - 0.25f );
        if ( Category == GunsmithPartType.Charm )
            screenPos = screenPos.WithX( screenPos.x ).WithY( screenPos.y + 0.05f );

        Style.Left = Length.Fraction( screenPos.x );
        Style.Top = Length.Fraction( screenPos.y );
    }

    protected override void OnClick( MousePanelEvent e )
    {
        if ( e.MouseButton == MouseButtons.Left )
        {
            var part = Game.Random.FromList( GunsmithPart.Categories[Category].Where( x => x != AttachmentPoint.CurrentPart && x.Supports( Weapon.Resource ) ).ToList() );
            AttachmentPoint.SetPart( part );
        }
    }

    protected override void OnRightClick( MousePanelEvent e )
    {
        AttachmentPoint.SetPart( null );
    }
}