@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Gunsmith;

@inherits PanelComponent
@namespace Facepunch

<root class="hc1">
    <div class="mouse" />

    <div class="layout grow">
        @*  *@
    </div>

    <div class="layout column gap padding">
        <div class="layout column">
            <label class="white emphasis vital text-center">@System.Equipment.Name</label>
        </div>

        <div class="button standard" @onclick=@(() => System.Toggle())>Toggle FPS mode</div>
    </div>

    @if ( !System.FPS )
    {
        <div style="width: 100%; height: 100%; position: absolute;">
            @foreach ( var attachment in System.Weapon.GetComponentsInChildren<GunsmithAttachmentPoint>() )
            {
                <GunsmithAttachmentPointPanel Weapon=@System.Weapon AttachmentPoint=@attachment Category=@attachment.Category />
            }
        </div>
    }
</root>

@code
{
    [Property]
    public GunsmithSystem System { get; set; }

    protected override int BuildHash()
    {
        return HashCode.Combine( System.Equipment );
    }
}