$button-standard-padding: 12px 24px;

.gunfight .button
{
    font-family: $main-font;
    font-size: 20px;
    color: white;

    &.standard
    {
        padding: $button-standard-padding;
        border-left: 4px solid white;
        background-color: rgba( black, 0.5 );
        pointer-events: all;
        cursor: pointer;
        text-transform: uppercase;

        label
        {
            text-shadow: 1px 1px 2px rgba( black, 0.5 );
            transition: all 0.1s ease;
        }

        &:hover
        {
            background-color: rgba( black, 0.75 );

            label
            {
                transform: translateX( 4px );
            }
        }
    }
}