.hud {
    &.fill {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &.with-deadzone {
        margin: $safe-zone-x $safe-zone-y;
    }

    &.with-deadzone-padding {
        padding: $safe-zone-x $safe-zone-y;
    }

    &.bottom-left {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    &.top-left {
        position: absolute;
        left: 0;
        top: 0;
    }

    &.top-middle {
        position: absolute;
        top: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    &.top-right {
        position: absolute;
        right: 0;
        top: 0;
    }

    &.bottom-right {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &.bottom-middle {
        bottom: 0;
        position: absolute;
    }

    &.middle-right {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY( -50% );
    }

    &.middle-left {
        position: absolute;
        left: 0;
    }

    &.middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50% -50% );
    }
}

* {

    &.with-background {
        background-color: $background;
        backdrop-filter: $blur;
    }

    &.with-px-sm {
        padding-left: 4px;
        padding-right: 4px;
    }

    &.with-py-sm {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    &.with-px {
        padding-left: 8px;
        padding-right: 8px;
    }

    &.with-py {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    &.with-padding {
        padding: 8px;
    }

    &.with-px-lg {
        padding-left: 16px;
        padding-right: 16px;
    }

    &.with-py-lg {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    &.with-padding-lg {
        padding: 16px;
    }

    &.border-top {
        border-top: 1px solid $border;
    }

    &.border-bottom {
        border-bottom: 1px solid $border;
    }

    &.border-left {
        border-left: 1px solid $border;
    }

    &.border-right {
        border-right: 1px solid $border;
    }

    &.with-border {
        border: 1px solid $border;
    }
}