MarkerSystem
{
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;   
}

Marker
{
    position: absolute;
    justify-content: center;
    align-items: flex-end;
    transform: translateX(-50%);
    transition: transform 0.01s ease;

    label
    {
        color: white;
        font-family: $main-font;
        font-weight: 600;
        font-size: 14px;
    }
}

BaseMarkerPanel 
{
}