MainMenuPanel, PauseMenuPanel
{
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
}

PauseMenuPanel {
    pointer-events: none;
    opacity: 0;
    display: none;

    &.open
    {
        pointer-events: all;
        display: flex;
        opacity: 1;
    }
}

MainMenuRoot, PauseMenuRoot
{
    opacity: 1;
    flex-direction: column;
    font-size: 25px;
    width: 100%;
    height: 100%;
    position: absolute;

    > .background
    {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient( to right, rgba( black, 1 ) 0%, rgba( black, 0 ) 99% );
    }

    > .navigator-canvas
    {
        flex-direction: column;
        height: 100%;
        flex-grow: 1;
        z-index: 100;
    }

    .navigator-body
    {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;

        &.hidden
        {
            display: none;
        }
    }
}

// Any game page will have these CSS classes
.navigator-body
{
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
}


.navigator-body
{
    color: $text-color;
}

SettingEntry
{
    width: 448px;
    justify-content: space-between;
    flex-direction: column;

    .icon
    {
        font-family: Material Icons;
        color: white;
        font-size: 20px;
    }

    .name
    {
        color: white;
        font-size: 18px;
    }

    .description
    {
        font-weight: 500;
        font-size: 15px;
    }

    .warning
    {
        font-size: 16px;
        color: orange;
    }
}

.checkbox
{
    align-items: center;
    cursor: pointer;
    color: rgba( white, 0.6 );
    align-items: center;

    label
    {
        pointer-events: none;
    }

    > .checkmark
    {
        aspect-ratio: 1;
        padding: 1px;
        font-size: 22px;
        border-radius: 0px;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: transparent;
        background-color: rgba( black, 0.75 );
        border: 0.5px solid rgba( white, 1 );
        margin-right: 10px;
        min-width: 16px;
        max-width: 16px;
        pointer-events: none;
    }

    &.checked
    {
        > .checkmark
        {
            color: white;
            background-color: white;
        }
    }

    &:active
    {
        color: white;
    }

    &:hover
    {
        color: white;
    }
}

.slidercontrol
{
    flex-direction: row;
    position: relative;
    flex-shrink: 0;
    flex-direction: row;
    cursor: pointer;
    flex-grow: 1;
    align-items: center;
    flex-grow: 1;

    > .inner
    {
        flex-direction: column;
        flex-shrink: 1;
        flex-grow: 1;
        justify-content: center;

        > .values
        {
            width: 100%;
            pointer-events: none;
            font-size: 14px;
            color: #aaa;

            > .left
            {
                flex-grow: 1;
            }
        }

        > .track
        {
            background-color: rgba( white, 0.05 );
            height: 2px;
            margin: 8px;
            align-items: center;

            > .track-active
            {
                background-color: darken( white, 0.2 );
                position: relative;
                height: 100%;
                left: 0px;
            }

            > .thumb
            {
                background-color: white;
                width: 2px;
                height: 2px;
                transform: translateX( -50% );
            }
        }
    }

    > .entry
    {
        width: 25px;
        flex-shrink: 0;
        flex-grow: 0;
        padding-right: 10px;

        > textentry
        {
            text-align: right;
            width: 100%;
            padding: 0;
            min-height: 0px;

            > .content-label
            {
                padding: 0 4px;
            }
        }
    }
}


.slidercontrol .value-tooltip
{
    position: absolute;
    bottom: 14px;
    left: -8px;
    z-index: 1000;
    flex-direction: column;

    > .label
    {
        font-size: 16px;
        background-color: black;
        padding: 4px 8px;
    }
}

.slidercontrol
{
    label
    {
        color: white;
        font-size: 20px;
    }
}

select
{
    padding: $button-standard-padding;
    background-color: rgba( black, 0.5 );
    pointer-events: all;
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.1s ease;
    border-radius: 2px;
    cursor: pointer;
    backdrop-filter: $blur;

    label
    {
        text-transform: uppercase;
    }

    > option
    {
        display: none;
    }
}
