$text-color: #e9e9e9;

label {
    font-family: $main-font;
    color: $text-color;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;

    &.emphasis {
        font-size: 28px;
        font-weight: bold;
    }

    &.important {
        font-size: 32px;
        font-weight: bold;
    }
}
