$main-font: Oxanium;
$main-color: #ffc300;
$main-color-dark: #393d4c;
$theme-color: #D7D9D7;

$background: rgba( black, 0.5 );

@import "Text.scss";
@import "Layout.scss";
@import "Buttons.scss";
@import "Containers.scss";
@import "Hud.scss";
@import "Hints.scss";
@import "InputHints.scss";
@import "MarkerSystem.scss";