$safe-zone-x: 50px;
$safe-zone-y: 50px;

$main-font: Dinish;

$main-color: #ffc300; // todo: delete
$main-color-dark: #393d4c; // todo: delete
$theme-color: #D7D9D7; // todo: delete

$border: rgba( white, 0.025 );

$terror-color: #D71920;
$counter-terror-color: #08B2E3;
$unassigned-color: #808080;

@import "Colors.scss";
@import "Text.scss";
@import "Layout.scss";
@import "Buttons.scss";
@import "Containers.scss";
@import "Hud.scss";
@import "Hints.scss";
@import "InputHints.scss";
@import "MarkerSystem.scss";
@import "DamageIndicator.scss";