@inherits BaseMarkerPanel
@namespace Facepunch.UI

<style>
    CashBagMarkerPanel
    {
        justify-content: flex-end;
        align-items: center;
        flex-direction: column-reverse;
        text-shadow: 1px 1px 1px rgba( black, 1 );
       
        .chevron 
        {
            font-size: 30px;
            font-weight: 900;
            color: white;
        }

        Icon {
            background-image-tint: #37fa74;
        }
    }
</style>

<root>
    @if ( !Marker.IsValid() ) return;

    @if ( MarkerFrame.Position.Distance( Scene.Camera.Transform.Position ) < 64 )
        return;

    @if ( Marker.IsBehind ) 
        return;

    @if ( Marker.IsOffScreen )
    {
        <label class="chevron" style="transform: rotateZ(@(ChevronAngle)deg);">></label>
    }
    else
    {
        <Icon File="/ui/minimaps/cashgrab/cashpoint.png" size="64" />
    }
</root>

@code
{
    private float ChevronAngle => Scene.Camera.PointToScreenNormal( MarkerFrame.Position ).Angle(new(0.5f, 0.5f)) - 180f; 

    protected override void OnAfterTreeRender( bool firstTime )
    {
        Marker.ClampToScreen = true;
    }

    protected override int BuildHash()
    {
        return System.HashCode.Combine( Time.Now );
    }
}
