@inherits BaseMarkerPanel
@namespace Facepunch.UI

@if ( !Grenade.IsValid() ) return;

<style>
    GrenadeMarkerPanel
    {
        transform: scale( 2 );
        justify-content: flex-end;
        align-items: center;
        flex-direction: column-reverse;
        text-shadow: 1px 1px 1px rgba( black, 1 );
       
        .chevron 
        {
            font-size: 30px;
            font-weight: 900;
            color: red;
        }

        Icon {
            background-image-tint: red;
        }
    }
</style>

<root>
    @if ( !Marker.IsValid() ) return;

    @if ( Marker.IsBehind ) 
        return;

    @if ( Marker.IsOffScreen )
    {
        <label class="chevron" style="transform: rotateZ(@(ChevronAngle)deg);">></label>
    }
    else
    {
        <Icon File="/ui/bomb.png" size="24" />
    }
</root>

@code
{
    public HEGrenade Grenade => Object?.GameObject?.Components?.Get<HEGrenade>();

    private float ChevronAngle => Scene.Camera.PointToScreenNormal( MarkerFrame.Position ).Angle(new(0.5f, 0.5f)) - 180f; 

    protected override void OnAfterTreeRender( bool firstTime )
    {
        Marker.ClampToScreen = true;
    }

    protected override int BuildHash()
    {
        return System.HashCode.Combine( Time.Now );
    }
}
