@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

<root class="flex row gap align-center justify-end" style="width: 100px;">
    <label class="vital">@(AmmoComponent?.Ammo.ToString() ?? "∞")</label>
    <separator />
    <label class="important">@(AmmoComponent?.MaxAmmo.ToString() ?? "∞")</label>
</root>

@code
{
    /// <summary>
    /// The player's inventory
    /// </summary>
    public PlayerInventory Inventory => Player.Inventory;

    /// The player
    public PlayerController Player => GameUtils.Viewer.Controller;

    private AmmoComponent AmmoComponent => Player?.CurrentEquipment?.Components?.Get<AmmoComponent>( FindMode.EverythingInSelfAndDescendants );

    protected override int BuildHash()
    {
        return HashCode.Combine( Player, AmmoComponent?.Ammo, Player?.CurrentEquipment );
    }
}
