@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

@if ( !Player.IsValid() ) return;

<root class="row" style="padding-top: 16px;">
    <InputHint Action="BuyMenu" class="small @(!Player.CanUseBuyMenu ? "hidden" : "")" Size="@InputGlyphSize.Small" />
    <label class="important @(GameMode.Instance?.UnlimitedMoney is true ? "hidden" : "")">$@Inventory.Balance.ToString("N0")</label>
</root>

@code
{
    /// <summary>
    /// The player's inventory
    /// </summary>
    public PlayerInventory Inventory => Player?.Inventory;

    /// The player
    public PlayerController Player => GameUtils.Viewer.Player;

    protected override int BuildHash()
    {
        return HashCode.Combine( Inventory?.Balance, Player?.CanUseBuyMenu, GameMode.Instance?.UnlimitedMoney );
    }   
}
