@import "/UI/Styles/Theme.scss";

Balance {
    position: absolute;
    gap: 8px;

    InputHint
    {
        transform: scale( 1 );
        max-width: 120px;

        &.hidden
        {
            transform: scale( 0 );
            max-width: 0;
        }
    }

    .label {
        align-self: center;
        font-size: 20px;
    }
}
