@import "/UI/Styles/Theme.scss";

Balance {
    margin-top: 25px;

    InputHint {
        transform: scale( 1 );
        max-width: 120px;
        margin-right: 8px;

        &.hidden {
            transform: scale( 0 );
            max-width: 0;
            margin-right: 0;
        }
    }

    .label {
        align-self: center;
    }
}
