@import "/UI/Styles/Theme.scss";

Chat {
    width: 400px;

    .message, .input label {
        text-transform: none;
    }

    .when-open {
        display: none;
    }

    .when-not-open {
        display: flex;
    }

    &.open {
        .when-open {
            display: flex;
        }

        .when-not-open {
            display: none;
        }
    }
}