@import "/UI/Styles/Theme.scss";

Chat {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.chat-container {
    width: 400px;

    .message, .input label, .playername {
        text-transform: none;
    }

    .when-open {
        display: none;
    }

    .when-not-open {
        display: flex;
    }
}

Chat.open {
    .chat-container {
        background-color: $background;
        border-radius: $rounding;
        backdrop-filter: $blur;

        .when-open {
            display: flex;
        }

        .when-not-open {
            display: none;
        }
    }
}