Deathcam
{
    position: absolute;
    bottom: 128px;

    z-index: 50;

    span
    {
        label
        {            
            align-self: center;
            font-size: 20px;
        }
    }
}
