@import "/UI/Styles/Theme.scss";

Donut
{
    width: 160px;
    position: relative;

    &.zero
    {
        opacity: 0.5;

        .inner
        {
            opacity: 0;
        }
    }

    .container
    {
        position: relative;
        background-color: rgba( black, 0.5 );
        border-radius: 50%;
        overflow: hidden;
        position: relative;
    }

    .inner, .backing
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .inner
    {
        background-color: white;
        z-index: 1;
    }

    Icon
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );
    }

    label
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );
    }
}
