@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

@if ( !Player.IsValid() ) return;

<root class="row with-padding">
    <label class="small">@(Player?.GetZone<MapLocation>()?.Zone?.DisplayName)</label>
</root>

@code
{
    /// The player
    public PlayerPawn Player => PlayerState.Viewer.Pawn as PlayerPawn;

    protected override int BuildHash()
    {
        return HashCode.Combine( Player?.GetZone<MapLocation>()?.Zone?.DisplayName );
    }   
}
