@using System.Text;
@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

<root>
    <label class="emphasis hud with-padding" style="color:@TeamColor">@TeamName</label>
</root>

@code
{
    public PlayerController Player => GameUtils.LocalPlayer;

    public TeamComponent TeamComponent => Player.Components.Get<TeamComponent>();

    private string TeamColor 
    {
        get => TeamComponent.Team.GetColor().Hex;
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( TeamComponent, TeamComponent.Team );
    }

    private string TeamName
    {
        get => TeamComponent.Team.GetName();
    }
}
