@import "/UI/Styles/Theme.scss";

PlayerAvatar
{
    position: relative;
    justify-content: center;
    align-items: center;

    .bomb-indicator
    {
        position: absolute;
        bottom: 4px;
        right: 0;
    }

    .avatar
    {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .overlay
    {
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 90%;
        height: 90%;
    }
}
