@namespace Facepunch.UI
@inherits Panel

@attribute [StyleSheet]

<root class="@AvatarClasses" style="@(IsFriendly ? $"box-shadow: 0 0 0 2px {Player.PlayerColor.Hex}" : "")">
    @if ( !Player.IsValid() ) return;

    <div class="avatar">
        <img class="image" src="avatar:@Player.Network.OwnerConnection.SteamId" />
    </div>

    @if ( ShowHealth && Player.HealthComponent.State == LifeState.Alive && IsFriendly )
    {
        <div class="health">
            <div class="health-inner" style="width:@(Player.HealthComponent.Health)%" />
        </div>
    }

    @if( ShowBomb && Player.Inventory.HasBomb && Player.IsFriendly( GameUtils.LocalPlayer ) )
    {
        <Icon File="/ui/bomb.png" size="24" class="bomb-indicator"></Icon>
    }

    @if ( IsDead )
    {
        <div style="background-image: url( ui/dead.png )" class="overlay" />
    }
</root>

@code
{
    public PlayerPawn Player { get; set; }
    public bool IsFriendly => GameUtils.LocalPlayer?.GameObject?.IsFriendly( Player?.GameObject ) ?? false;

    public bool ShowBomb { get; set; } = true;
    public bool ShowHealth { get; set; } = true;
    private bool IsDead => Player?.HealthComponent.State != LifeState.Alive;

    private string AvatarClasses
    {
        get
        {
            if ( IsDead ) return "dead";
            return "";
        }
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(Player, IsFriendly, Player.HealthComponent.Health, Player.HealthComponent.State, Player.PlayerColor);
    }
}