@namespace Facepunch.UI
@inherits Panel

<root>
    <div class="avatar">
        <img class="image" src="avatar:@Player.Network.OwnerConnection.SteamId" />
    </div>

    @if ( Player.HealthComponent.State == LifeState.Alive )
    {
        <div class="health">
            <div class="health-inner" style="width:@(Player.HealthComponent.Health)%" />
        </div>
    }
</root>

@code
{
    public PlayerController Player { get; set; }

    protected override int BuildHash()
    {
        return HashCode.Combine(Player, Player.HealthComponent.Health, Player.HealthComponent.State);
    }
}