@namespace Facepunch.UI
@inherits Panel

@attribute [StyleSheet]

<root class="@AvatarClasses" style="@(IsFriendly && Player.PlayerPawn.IsValid() ? $"box-shadow: 0 0 0 2px {PlayerColor.Hex}" : "")">
    <div class="avatar">
        <img class="image" src="avatar:@Player.SteamId" />
    </div>

    @if (!Player.PlayerPawn.IsValid()) return;

    @if (ShowHealth && Player.PlayerPawn.HealthComponent.State == LifeState.Alive && IsFriendly)
    {
        <div class="health">
            <div class="health-inner" style="width:@(Player.PlayerPawn.HealthComponent.Health)%" />
        </div>
    }

    @if (ShowBomb && Player.PlayerPawn.Inventory.HasBomb && IsFriendly)
    {
        <Icon File="/ui/bomb.png" size="24" class="bomb-indicator"></Icon>
    }

    @if ( IsDead )
    {
        <div style="background-image: url( ui/dead.png )" class="overlay" />
    }
</root>

@code
{
    public PlayerState Player { get; set; }
    public bool IsFriendly => PlayerState.Local.IsFriendly(Player);
    public Color PlayerColor => Player.PlayerPawn.IsValid() ? Player.PlayerPawn.PlayerColor : Color.White;

    public bool ShowBomb { get; set; } = true;
    public bool ShowHealth { get; set; } = true;
    private bool IsDead => Player.PlayerPawn?.HealthComponent.State != LifeState.Alive;

    private string AvatarClasses
    {
        get
        {
            if ( IsDead ) return "dead";
            return "";
        }
    }

    protected override int BuildHash()
    {
        int hash = HashCode.Combine(Player, IsFriendly);

        if (Player.PlayerPawn.IsValid())
        {
            hash = HashCode.Combine(hash, Player.PlayerPawn.HealthComponent.Health, Player.PlayerPawn.HealthComponent.State, Player.PlayerPawn.PlayerColor);
        }
        return hash;
    }
}