@namespace Facepunch.UI
@inherits Panel

<root class="@AvatarClasses">
    @if ( !Player.IsValid() ) return;

    <div class="avatar">
        <img class="image" src="avatar:@Player.Network.OwnerConnection.SteamId" />
    </div>

    @if ( Player.HealthComponent.State == LifeState.Alive && IsFriendly )
    {
        <div class="health">
            <div class="health-inner" style="width:@(Player.HealthComponent.Health)%" />
        </div>
    }
</root>

@code
{
    public PlayerController Player { get; set; }
    public bool IsFriendly => GameUtils.LocalPlayer?.GameObject?.IsFriendly( Player?.GameObject ) ?? false;

    private string AvatarClasses
    {
        get
        {
            if ( Player?.HealthComponent.State != LifeState.Alive ) return "dead";
            return "";
        }
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(Player, IsFriendly, Player.HealthComponent.Health, Player.HealthComponent.State);
    }
}