@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

<root>
    <div style="@BuildStyle()" class="backing"></div>
    <div style="@BuildStyle()" class="inner"></div>
</root>

@code
{
    /// <summary>
    /// 0 to 100
    /// </summary>
    public float Value { get; set; } = 100f;

    protected override int BuildHash()
    {
        return HashCode.Combine(Value);
    }

    private string BuildStyle()
    {
        return $"width: {Value}%;";
    }
}
