@import "/UI/Styles/Theme.scss";

ProgressBar {
    width: 160px;
    height: 8px;
    background-color: rgba( black, 0.5 );
    border-radius: 1px;
    overflow: hidden;
    position: relative;

    .inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
    }

    .inner {
        background-color: white;
    }
}
