@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

<root class="hud with-deadzone top-middle flex justify-center row">
    @if (MyTeamPlayers is not null && MyTeamPlayers.Count() > 0)
    {
        <RoundStateTeam Grouping="@MyTeamPlayers" iconPosition="Right" />
    }

    <div class="flex column with-background with-padding h-full align-center justify-center" style="min-width: 175px; height: 75px;">
        <label>@Status</label>
        <label class="emphasis">@(Time?.ToString(@"m\:ss"))</label>
    </div>

    @if (EnemyTeamPlayers is not null && EnemyTeamPlayers.Count() > 0)
    {
        <RoundStateTeam Grouping="@EnemyTeamPlayers" iconPosition="Left" /> 
    }
</root>

@code
{
    private List<IGrouping<Team, PlayerController>> GroupedPlayers => PlayerList.GroupBy(x => x.GameObject.GetTeam()).ToList();

    private Team MyTeam => GameUtils.LocalPlayer.TeamComponent.Team;
    private Team EnemyTeam => MyTeam.GetOpponents();

    private IGrouping<Team, PlayerController> MyTeamPlayers => GroupedPlayers.FirstOrDefault(x => x.Key == MyTeam);
    private IGrouping<Team, PlayerController> EnemyTeamPlayers => GroupedPlayers.FirstOrDefault(x => x.Key == EnemyTeam);

    public string Status => GameMode.Instance?.DisplayedStatus;
    public TimeSpan? Time => GameMode.Instance?.DisplayedTime;

    public IEnumerable<PlayerController> PlayerList => Scene.GetAllComponents<PlayerController>();

    protected override int BuildHash()
    {
        return HashCode.Combine( MyTeam, EnemyTeam, Status, Time?.Seconds, Time?.Minutes, PlayerList.Count() );
    }
}
