@import "/UI/Styles/Theme.scss";

RoundStateTeam
{
    .inner
    {
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .background
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    img.icon
    {
        width: 32px;
        height: 32px;
        margin: 0 16px;
    }

    .team
    {
        min-width: 48px;
    }
}