@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

<root class="hud with-deadzone top-middle flex row">
    @if ( GroupedPlayers.Count >= 1 )
        <RoundStateTeam Grouping="@GroupedPlayers[0]" iconPosition="Right" />

    <div class="flex column with-background with-padding with-px-lg h-full align-center justify-center">
        <label>@Status</label>
        <label class="emphasis">@(Time?.ToString(@"m\:ss"))</label>
    </div>

    @if ( GroupedPlayers.Count >= 2 )
        <RoundStateTeam Grouping="@GroupedPlayers[1]" iconPosition="Left" />
</root>

@code
{

    private List<IGrouping<Team, PlayerController>> GroupedPlayers => PlayerList.GroupBy(x => x.GameObject.GetTeam()).ToList();

    public string Status => GameMode.Instance?.DisplayedStatus;
    public TimeSpan? Time => GameMode.Instance?.DisplayedTime;

    public IEnumerable<PlayerController> PlayerList => Scene.GetAllComponents<PlayerController>();

    protected override int BuildHash()
    {
        return HashCode.Combine( Status, Time?.Seconds, Time?.Minutes, PlayerList.Count() );
    }
}
