@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

<root class="hud with-deadzone top-middle">
    <div class="players">
        @foreach ( var grouping in PlayerList.GroupBy( x => x.GameObject.GetTeam() ) )
        {
            <div class="team">
                @foreach ( var values in grouping )
                {
                    <PlayerAvatar @Player=@values />
                }
            </div>
        }
    </div>

    <label class="emphasis">@Status</label>
    <label class="important">@(Time?.ToString(@"m\:ss"))</label>
</root>

@code
{
    public string Status { get; set; }
    public TimeSpan? Time { get; set; }

    public IEnumerable<PlayerController> PlayerList => Scene.GetAllComponents<PlayerController>();

    protected override int BuildHash()
    {
        return HashCode.Combine( Status, Time?.Seconds, Time?.Minutes, PlayerList.Count() );
    }
}
