@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

<root class="team flex @(IconPosition == IconPositions.Right ? "justify-end" : "")">
    <div class="inner flex row gap-sm align-center with-padding">
        <div class="background" style="@BuildStyle()"></div>

        @if (IconPosition == IconPositions.Left)
        {
            <label class="important with-px-lg" style="width: 50px; text-align: center;">@Score</label>
        }

        @foreach (var values in Players)
        {
            <PlayerAvatar @Player=@values />
        }

        @if (IconPosition == IconPositions.Right)
        {
            <label class="important with-px-lg" style="width: 50px; text-align: center;">@Score</label>
        }
    </div>
</root>

@code
{
    public enum IconPositions
    {
        Left,
        Right
    }

    public int Score { get; set; }
    public Team Team { get; set; }
    public IEnumerable<PlayerController> Players { get; set; }
    public IconPositions IconPosition { get; set; } = IconPositions.Left;

    private string TeamColor => Team.GetColor().Hex;

    protected override int BuildHash()
    {
        return HashCode.Combine(Score, Team, Players, IconPosition, TeamColor);
    }

    private string BuildStyle()
    {
        return $"background: linear-gradient( to {IconPosition}, rgba( {TeamColor}, 0 ), rgba( {TeamColor}, 0.75 ) )";
    }
}
