@import "/UI/Styles/Theme.scss";

RoundStateTeam {
    width: 100%;
    height: 100%;

    .inner
    {
        position: relative;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    img.icon {
        width: 32px;
        height: 32px;
        margin: 0 16px;
    }
}