@import "/UI/Styles/Theme.scss";

RoundStateDisplay
{
    font-weight: bold;
    color: white;
    font-family: $main-font;
    flex-direction: column;

    .status
    {
        font-size: 24px;
        color: rgba(255, 255, 255, 0.75);
    }

    .timer
    {
        font-size: 32px;
    }
}
