@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

<root class="team flex @(IconPosition == IconPositions.Right ? "justify-end" : "")">
    <div class="inner flex row gap-sm align-center with-padding">
        <div class="background" style="@BuildStyle()"></div>

        @if (IconPosition == IconPositions.Left)
        {
            <img class="hud with-padding icon" src="@TeamIcon" />
        }

        @foreach (var values in Players)
        {
            <PlayerAvatar @Player=@values />
        }

        @if (IconPosition == IconPositions.Right)
        {
            <img class="hud with-padding icon" src="@TeamIcon" />
        }
    </div>
</root>

@code
{
    public enum IconPositions
    {
        Left,
        Right
    }

    public Team Team { get; set; }
    public IEnumerable<PlayerController> Players { get; set; }
    public IconPositions IconPosition { get; set; } = IconPositions.Left;

    private string TeamColor => Team.GetColor().Hex;
    private string TeamIcon => Team.GetIconPath();

    protected override int BuildHash()
    {
        return HashCode.Combine(Team, Players, IconPosition, TeamColor, TeamIcon);
    }

    private string BuildStyle()
    {
        return $"background: linear-gradient( to {IconPosition}, rgba( {TeamColor}, 0 ), rgba( {TeamColor}, 0.5 ) )";
    }
}
