@using System.Text;
@namespace Facepunch.UI
@inherits Panel

@attribute [StyleSheet]

@if ( !SpectateSystem.IsValid() || !SpectateSystem.IsSpectating ) return;

<root class="hud with-deadzone flex column">
    <div class="flex row">
        <InputHint Action="SpectatorPrev" />
        <div class="flex column with-background with-padding h-full align-center justify-center" style="min-width: 275px; height: 75px;">
            <label class="text small upper">SPECTATING</label>
            @if ( SpectateSystem.IsFreecam )
            {
                <label>FREECAM</label>
            }
            else
            {
                <label>@Player.GetPlayerName()</label>
            }  
        </div>
        <InputHint Action="SpectatorNext" />  
    </div>
    <InputHint Action="SpectatorFreeCam" />  
</root>

@code
{
    public PlayerController Player => GameUtils.Viewer;

    public SpectateSystem SpectateSystem => SpectateSystem.Instance;

    protected override int BuildHash()
    {
        return !Player.IsValid() ? 0 : HashCode.Combine( SpectateSystem.IsSpectating, Player);
    }
}
