Voices
{
    padding: 16px;
    gap: 8px;
    flex-direction: column;
    border-radius: 2px;

    .row
    {
        justify-content: flex-end;
    }

    .item-row
    {
        gap: 8px;
        justify-content: space-between;
        align-items: center;
        padding: 12px 24px;
    }

    img
    {
        width: 28px;
        height: 28px;
        border-radius: 100px;
        margin-left: 32px;
    }
}
