Voices
{
    right: 30%;
    bottom: 15%;
    position: absolute;
    padding: 16px;
    gap: 16px;
    flex-direction: column;
    border-radius: 2px;

    .row
    {
        gap: 32px;
        justify-content: space-between;
        align-items: center;
    }

    Icon
    {
    //    background-tint: #37FA74;
    }
}
