@namespace Facepunch.UI
@inherits Panel

<root class="@(IsActive ? "is-active" : "")">

    @if ( Weapon.IsValid() )
    {
        @if ( !string.IsNullOrEmpty( Weapon.Resource.Icon ) )
        {
            <div class="column">

            <div class="icon">
                <div class="image" style="background-image:url(@Weapon.Resource.Icon);" />
            </div>

            @if ( IsActive )
            {
                <label class="gunname">@Weapon.Resource.Name</label>
            }
            </div>
        }
        else
        {
            <div class="row">
                <label class="gunname">@Weapon.Resource.Name</label>
            </div>
        }
    }
</root>

@code
{
    /// <summary>
    ///  The weapon's slot
    /// </summary>
    public WeaponSlot Slot => Weapon?.Resource.Slot ?? default;

    /// <summary>
    /// The player's weapon.
    /// </summary>
    public Weapon Weapon { get; set; }

    private AmmoComponent AmmoComponent => Weapon?.Components.Get<AmmoComponent>( FindMode.EverythingInSelfAndDescendants );
    public PlayerController Player => Weapon?.PlayerController;
    public bool IsActive => Player?.CurrentWeapon == Weapon;

    protected override int BuildHash()
    {
        return HashCode.Combine( IsActive, Weapon, AmmoComponent?.Ammo );
    }   
}
