@namespace Facepunch.UI
@inherits Panel

<root class="@(IsActive ? "is-active" : "")">
    <div class="background" />
    <div class="grow" />

    @if ( Weapon.IsValid() )
    {
        @if ( IsActive )
        {
            <InputHint Action="Attack1" class="small" Size="@InputGlyphSize.Small" />
        }

        @if ( !string.IsNullOrEmpty( Weapon.Resource.Icon ) )
        {
            <div class="gunicon" style="background-image:url(@Weapon.Resource.Icon);" />
        }
        else
        {
            <div class="row">
                <label class="gunname">@Weapon.Resource.Name</label>
            </div>
        }

        <InputHint Action="Slot@(Slot + 1)" />
    }
</root>

@code
{
    /// <summary>
    ///  The weapon's slot
    /// </summary>
    public int Slot { get; set; }

    /// <summary>
    /// The player's weapon.
    /// </summary>
    public Weapon Weapon { get; set; }

    private AmmoContainer AmmoContainer => Weapon?.Components.Get<AmmoContainer>( FindMode.EverythingInSelfAndDescendants );
    public PlayerController Player => Weapon?.PlayerController;
    public bool IsActive => Player?.CurrentWeapon == Weapon;

    protected override int BuildHash()
    {
        return HashCode.Combine( IsActive, Weapon, AmmoContainer?.Ammo );
    }   
}
