@namespace Facepunch.UI
@inherits Panel
@attribute [StyleSheet]

@if ( !Player.IsValid() ) return;

<root class="hud with-deadzone column">
    @foreach ( var slotGroup in Inventory.Weapons.OrderBy( x => x.Resource.Slot ).GroupBy( x => x.Resource.Slot ) )
    {

        <div class="group @GroupClasses( slotGroup.Key )">
            <div class="background" />

            <InputHint Action="Slot@(SlotIndex(slotGroup.Key))" class="small" Size="@InputGlyphSize.Small" />

            @foreach ( var weapon in slotGroup )
            {
                <WeaponRow Weapon=@weapon/>
            }
        </div>
    }
</root>

@code
{
    public PlayerController Player => GameUtils.Viewer as PlayerController;
    public PlayerInventory Inventory => Player.Inventory;
    public Weapon CurrentWeapon => Player?.CurrentWeapon;

    public string GroupClasses( WeaponSlot slot )
    {
        var wpn = CurrentWeapon;
        if (!wpn.IsValid()) return "";

        if (wpn.Resource.Slot == slot) return "active";

        return "";
    }

    public int SlotIndex( WeaponSlot slot )
    {
        return (int)slot;
    }

    public int GetSlot( Weapon weapon ) => Inventory.Weapons.ToList().IndexOf( weapon );

    protected override int BuildHash()
    {
        return !Player.IsValid() ? 0 : HashCode.Combine( Inventory.Weapons.Count(), CurrentWeapon );
    }
}
